@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Flex', sans-serif;
    scrollbar-width: 17px;
    scrollbar-color: rgba(40, 37, 40, 1) var(--dark_blue);
}
.main-container {
    position: relative;
    width: 100%;
    height: calc(100% - 64px);
    overflow: hidden;
}
.bottom-bar-transition{
    width: 100%;
    height: 10px;
    background-image: linear-gradient(to bottom, rgba(51, 48, 51, 0), var(--dark_gray));
    flex-shrink: 0;
}
.bottom-bar{
    width: 100%;
    height: 64px;
    background-color: var(--dark_gray);
    display: flex;

    .nav-list li{
        a {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: var(--teal);
            text-decoration: none;
        }
        .not-selected {
            border-bottom: 1px solid var(--dark_gray);
        }
        .not-selected:hover {
            border-bottom: 1px solid var(--teal);
        }
        .selected {
            border-bottom: 1px solid var(--teal);
        }
    }

    @media (max-width:960px){
        .nav-list li{
            a {
                font-size: 14px;
            }
        }
    }
}
.nav-list{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 120px;
}
@media (max-width:960px){
    .nav-list{
        margin: 0 60px;
    }
}
.nav-list li{
    text-align: center;
}
.nav-list li:first-child {
    margin-left: 0px;
    text-align: left;
}
.nav-list li:last-child{
    margin-right: 0px;
    text-align: right;
}
::-webkit-scrollbar{
    width: 17px;
}
::-webkit-scrollbar-track{
    background: var(--dark_blue);
}
::-webkit-scrollbar-thumb{
    background: rgba(40, 37, 40, 1);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(51, 48, 51, 1);
}
.filler{
    display: flex;
    flex: 1;
}



