.profileSection{
    height: 300px;
    width: 100%;
    background-image: url('file:///C:/Users/Dell/Documents/GitHub/renanruan.github.io/assets/imgs/background.png');
    /* background-image: url('/assets/imgs/background.png'); */
    background-size: 655px 150px;
    background-position: top;
    background-repeat: repeat-x;
    back
    position: relative;
}
.introContent{
    position: absolute;
    height: 150px;
    width: 65%;
    padding-left: 15%;
    top: 150px;
}
.introContent h1{
    color: var(--oak_brown);
    margin: 0px 0px 0px 0px;
    font-size: 75px;
}
.introContent h2{
    color: var(--light_green);
    font-size: 20px;
    margin: -15px 0px 50px 5px;
    letter-spacing: 1px;
}
.portraitContend{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 63%;
    padding-right: 10%;
    top: 30px;
}
.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 270px;
    background-color: var(--dark_green);
    border-radius: 50%;
}
.image-cropper {
    width: 235px;
    height: 235px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
img.rounded {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit:cover;
}
