*{
  padding: : 0;
  margin: 0;
  font: 'Ubuntu';
  box-sizing: border-box;
}
body{
  background-color: #393639;
}
.projectsBar{
  height: 1920px;
  width: 500px;
  background-image: : url('../img/background.png');
}
